<configuration>
    <timestamp key="bySecond" datePattern="yyyy-MM-dd'T'HH:mm:ss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level][%d][%thread][%logger{36}][%msg]%n[%ex]</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>